body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
 * App
 */
.App {
  text-align: center;
  min-height: 100vh;
}
.app-logo {
  height: 15vmin;
  pointer-events: none;
}

.app-header {
  background-color: #0d0e11;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.content {
  text-align: left;
  padding: 0 10em 3em;
  max-width: 60%;
  margin: 1em auto;
}

/*
 * Playlist
 */
.video-responsive {
  overflow: hidden;
  margin-top: 2%;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 20%;
  top: 0;
  height: 60%;
  width: 60%;
  position: absolute;
}

@media screen and (max-width: 800px) {
  .video-responsive {
    margin-top: 9%;
  }

  .video-responsive iframe {
    left: 0%;
    height: 100%;
    width: 100%;
  }
}


/*
 * Footer
 */
.footer {
  position: fixed;
  bottom: 0;
  background-color: #0d0e11;
  color: white;
  font-family: monospace;
  padding: 0.6em 0;
  width: 100%
}

.signature {
  display: inline-block;
  text-align: left;
  width: 49%;
}

.signature div {
  display: inline-block;
}
.signature div:before,
.signature div:after {
  content: ' : ';
}

.signature a {
  color: #ffffff;
  text-decoration: none;
}

.links {
  display: inline-block;
  text-align: right;
  width: 49%;
}

.links a {
  padding-right: 1%;
}
